<template>
  <footer>
    <hr/>
    <p class="foot"></p>
  </footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>

<style lang="css">
.foot {
  color: #5db7de !important;
}
.foot a {
    color: #5db7de;
  }
.foot a:hover {
    color: #a39b8b !important;
  }
</style>
