<template>
  <div class="col room">
     <router-link :to="{
       name: 'Room',
       params: { title: `${room.title}`, id: `${room.id['$oid']}` }
      }">
      <H3>{{ room.title }}</H3>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Bucket",
  props: ["room"]
};
</script>
<style lang="scss" scoped>
.title {
  min-width: 260px;
}
</style>
